.background-collage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows:300px;
  gap: 20px;
  padding: 20px;
  background: #111;
  z-index: -1;
}

.bg-image {
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* más transparencia */
  border-radius: 40px;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  mask-image: radial-gradient(circle, rgba(0,0,0,1)80%, rgba(0,0,0,0) 100%);
   
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size:  cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.bg-image:hover {
  opacity: 1;
  transform: scale(1.05);
}
